<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Успешно изпратено съобщение</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header th:replace="~{fragments/navigation}"></header>

<main class="success-message">
    <div class="container">
        <div class="message-box">
            <i class="fas fa-check-circle"></i>
            <h1 th:text="#{successfully.sent.message}"></h1>
            <p th:text="#{thankful.message}"></p>
            <a th:href="@{/home}" class="btn-cta"><span th:text="#{back.to.home.page}"></span></a>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
