.home-page {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #333;
    color: #fff;
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-text {
    font-family: 'Russo One', sans-serif;
    font-size: 1.8rem;
    color: #ff5722;
}

.logo-highlight {
    font-family: 'Russo One', sans-serif;
    font-size: 1.8rem;
    color: #fff;
    background-color: #ff5722;
    padding: 0 0.2rem;
    margin-left: 0.3rem;
    border-radius: 3px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 1rem;
    position: relative;
    display: flex;
    align-items: center;
}

header nav ul li a i {
    margin-right: 5px;
}

header nav ul li a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: #ff5722;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

header nav ul li a:hover::before {
    visibility: visible;
    width: 100%;
}



.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/home-image.jpg') no-repeat center center/cover;
    height: 600px;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero h2 {
    font-size: 3rem;
    margin: 0;
}

.hero p {
    font-size: 1.5rem;
    margin: 20px 0;
}

.hero .btn {
    background: #ff5722;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background 0.3s;
}

.hero .btn:hover {
    background: #e64a19;
}

.features {
    background: #fff;
    padding: 50px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.features .feature {
    flex: 1;
    margin: 0 10px;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.features .feature:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.features .feature i {
    color: #ff5722;
    margin-bottom: 15px;
}

.features h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.features p {
    font-size: 1rem;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}

/* Registration CSS */
.register-login-page {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registration-container {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
}

.registration-form h2 {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.registration-form .form-group {
    margin-bottom: 15px;
}

.registration-form .form-group label {
    display: block;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
}

.registration-form .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.registration-form .form-group input:focus {
    border-color: #ff5722;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 87, 34, 0.5);
}

.registration-form .btn {
    display: block;
    width: 50%;
    margin: 0 auto;
    background: #ff5722;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    text-align: center;
}

.registration-form .btn:hover {
    background: #e64a19;
}

.registration-form p {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.registration-form p a {
    color: #ff5722;
    text-decoration: none;
}

.registration-form p a:hover {
    text-decoration: underline;
}


/* Login CSS */
.login-container {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
}

.login-form h2 {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.login-form .form-group {
    margin-bottom: 15px;
}

.login-form .form-group label {
    display: block;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.login-form .form-group input:focus {
    border-color: #ff5722;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 87, 34, 0.5);
}

.login-form .btn {
    display: block;
    width: 50%;
    margin: 0 auto;
    background: #ff5722;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    text-align: center;
}

.login-form .btn:hover {
    background: #e64a19;
}

.login-form p {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.login-form p a {
    color: #ff5722;
    text-decoration: none;
}

.login-form p a:hover {
    text-decoration: underline;
}

/* Reset-Password CSS */
.reset-password-container {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
}

.reset-password-form h2 {
    font-family: 'Russo One', sans-serif;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.reset-password-form .form-group {
    margin-bottom: 15px;
}

.reset-password-form .form-group label {
    display: block;
    color: #333;
    margin-bottom: 5px;
    font-weight: bold;
}

.reset-password-form .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.reset-password-form .form-group input:focus {
    border-color: #ff5722;
    outline: none;
    box-shadow: 0 0 5px rgba(255, 87, 34, 0.5);
}

.reset-password-form .btn {
    display: block;
    width: 50%;
    margin: 0 auto;
    background: #ff5722;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;
    text-align: center;
}

.reset-password-form .btn:hover {
    background: #e64a19;
}

.reset-password-form p {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

.reset-password-form p a {
    color: #ff5722;
    text-decoration: none;
}

.reset-password-form p a:hover {
    text-decoration: underline;
}