<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>За нас - ДебъгАрена</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
<header th:replace="~{fragments/navigation}"></header>
<section class="hero">
    <div class="container">
        <h1 th:text="#{welcome.in.message}"></h1>
        <span class="logo-text" style="font-size: xxx-large" th:text="#{logo.debug}"></span>
        <span class="logo-highlight" style="font-size: xxx-large" th:text="#{logo.arena}"></span>

        <p th:text="#{about.main.message}">
        </p>
    </div>
</section>
<div class="about-container">
    <section class="about-mission">
        <h2 th:text="#{about.our.mission}"></h2>
        <p th:text="#{about.our.mission.message}"></p>
    </section>
    <section class="about-team">
        <h2 th:text="#{about.our.team}"></h2>
        <div class="team-members">
            <div class="team-member">
                <img src="/images/founder.jpg" alt="Член на екипа">
                <h3 th:text="#{about.our.founder.name}"></h3>
                <p th:text="#{about.our.founder.profession}"></p>
            </div>
        </div>
    </section>
    <section class="about-values">
        <h2 th:text="#{about.our.culture}"></h2>
        <ul>
            <li th:text="#{about.our.culture.teamwork}"></li>
            <li th:text="#{about.our.culture.innovation}"></li>
            <li th:text="#{about.our.culture.responsibility}"></li>
        </ul>
    </section>
</div>
<footer th:replace="~{fragments/footer}"></footer>
<script src="/js/language-script.js"></script>
</body>
</html>
