<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>За нас - ДебъгАрена</title>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
<header th:replace="~{fragments/navigation}"></header>
<section class="hero">
    <div class="container">
        <h1>Добре дошли в <span class="logo-text" style="font-size: xxx-large">Дебъг</span><span class="logo-highlight" style="font-size: xxx-large">Арена</span>
        </h1>
        <p> Платформата, в която начинаещи софтуерните инженери могат
            да споделят и да помогнат за решаването на проблеми с кода.
        </p>
    </div>
</section>
<div class="about-container">
    <section class="about-mission">
        <h2>Нашата мисия</h2>
        <p>Нашата мисия е да улесним процеса на решаване на проблеми в програмирането чрез създаване на общност, която
            да
            споделя опит и знания.</p>
    </section>
    <section class="about-team">
        <h2>Нашият екип</h2>
        <div class="team-members">
            <div class="team-member">
                <img src="/images/founder.jpg" alt="Член на екипа">
                <h3>Стефан Христов</h3>
                <p>основател и главен разработчик</p>
            </div>
        </div>
    </section>
    <section class="about-values">
        <h2>Нашите ценности</h2>
        <ul>
            <li>Сътрудничество: Вярваме в силата на екипната работа.</li>
            <li>Иновация: Постоянно търсим нови начини за подобряване на нашата платформа.</li>
            <li>Отговорност: Отнасяме се сериозно към нашите потребители и тяхната информация.</li>
        </ul>
    </section>
</div>
<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
