<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ДебъгАрена</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header th:replace="~{fragments/navigation}"></header>

<main class="add-problem">
    <div class="container">
        <h1 th:text="#{add.event.h1}"></h1>
        <form
                th:action="@{/problems/add-problem}"
                th:method="POST">

            <div class="form-group">
                <label for="title" th:text="#{add.event.title}"></label>
                <input

                       th:class="form-control"
                       type="text"
                       id="title">
                <small
                       class="invalid-feedback text-danger" style="color: red">error message
                </small>
            </div>
            <div class="form-group">
                <label for="description" th:text="#{add.event.description}"></label>
                <textarea

                          th:class="form-control"
                          id="description">
                </textarea>
                <small
                       class="invalid-feedback text-danger" style="color: red">error message
                </small>
            </div>
            <div class="form-group">
                <label for="date" th:text="#{add.event.creation.date}"></label>
                <input
                       th:class="form-control"
                       type="datetime-local"
                       id="date">
                <small
                       class="invalid-feedback text-danger" style="color: red">error message
                </small>
            </div>
            <div class="form-group">
                <label for="authorName" th:text="#{add.event.author.name}"></label>
                <input


                       th:class="form-control"
                       type="text"
                       id="authorName">
                <small
                       class="invalid-feedback text-danger" style="color: red">error message
                </small>
            </div>

            <div class="form-group">
                <label for="authorEmail" th:text="#{add.event.author.email}"></label>
                <input


                       th:class="form-control"
                       type="text"
                       id="authorEmail">
                <small
                       class="invalid-feedback text-danger" style="color: red">error message
                </small>
            </div>
            <div class="form-group">
                <label for="platform" th:text="#{add.event.platform}"></label>
                <select
                        type="text"

                        th:class="form-control"
                        id="platform">
                    <option value="" th:text="#{add.event.choose.platform}"></option>
                    <option value="FACEBOOK">Facebook</option>
                    <option value="DISCORD">Discord</option>
                    <option value="MICROSOFT_TEAMS">Microsoft teams</option>
                </select>
                <small
                       class="invalid-feedback text-danger" style="color: red">error message
                </small>
            </div>
            <button type="submit" class="btn-submit"><i class="fas fa-paper-plane"></i> <span th:text="#{add.event.btn}"></span></button>
        </form>
    </div>
</main>

<footer th:replace="~{fragments/footer}"></footer>
<script src="/js/language-script.js"></script>
</body>
</html>
