<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавяне на проблем</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<header th:replace="~{fragments/navigation}"></header>

<main class="add-problem">
    <div class="container">
        <h1>Добавяне на проблем</h1>
        <form
                th:action="@{/problems/add-problem}"
                th:method="POST"
                th:object="${addProblemBindingModel}">

            <div class="form-group">
                <label for="title">Заглавие на проблема</label>
                <input th:field="*{title}"
                       th:errorclass="'is-invalid alert-danger'"
                       th:class="form-control"
                       type="text"
                       id="title">
                <small th:errors="*{title}"
                       class="invalid-feedback text-danger" style="color: red">error message
                </small>
            </div>
            <div class="form-group">
                <label for="description">Описание</label>
                <textarea th:field="*{description}"
                          th:errorclass="'is-invalid alert-danger'"
                          th:class="form-control"
                          id="description"
                          rows="4">
                </textarea>
                <small th:errors="*{description}"
                       class="invalid-feedback text-danger" style="color: red">error message
                </small>
            </div>
            <div class="form-group">
                <label for="date">Дата на създаване</label>
                <input th:field="*{createdOn}"
                       th:value="*{createdOn}"
                       th:errorclass="'is-invalid alert-danger'"
                       th:class="form-control"
                       type="date"
                       id="date">
                <small th:errors="*{createdOn}"
                       class="invalid-feedback text-danger" style="color: red">error message
                </small>
            </div>
            <div class="form-group">
                <label for="language">Език</label>
                <select th:field="*{language}"
                        type="text"
                        th:errorclass="'is-invalid alert-danger'"
                        th:class="form-control"
                        id="language">
                    <option value="">Изберете език на програмиране</option>
                    <option value="Java">Java</option>
                    <option value="CSharp">C#</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="Python">Python</option>
                </select>
                <small th:errors="*{language}"
                       class="invalid-feedback text-danger" style="color: red">error message
                </small>
            </div>
            <button type="submit" class="btn-submit"><i class="fas fa-paper-plane"></i> Изпрати</button>
        </form>
    </div>
</main>

<footer th:replace="~{fragments/footer}"></footer>
</body>
</html>
