<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ДебъгАрена</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
<header th:replace="~{fragments/navigation}"></header>

<main class="article-list">
    <div class="container">
        <a th:href="@{/problems/add-problem}" class="link-item">
            <i class="fas fa-plus-circle"></i>
            <span th:text="#{home.fast.links.add.problem}"></span>
        </a>
        <h1 th:text="#{csharp.problems.discussions}"></h1>
        <ul th:each="csharpProblem: ${csharpProblems}" class="articles">
            <li class="article-item">
                <h2 class="article-title"><a th:href="@{/problems/details/{id}(id=${csharpProblem.getId()})}"><span th:text="${csharpProblem.getTitle()}"></span></a></h2>
                <div class="article-meta">
                    <span class="article-user">Потребител: <span th:text="${csharpProblem.getAuthorUsername()}"></span></span>
                    <span class="article-date">Дата на публикуване: <span th:text="${csharpProblem.getCreatedOn()}"></span></span>
                </div>
                <div th:if="${isAdmin}">
                    <form th:action="@{/problems/csharp/delete-problem/{id}(id=${csharpProblem.id})}"
                          th:method="DELETE"
                          class="delete-form">
                        <button type="submit" class="comment-delete-btn" th:text="#{delete.btn}"></button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
</main>

<footer th:replace="~{fragments/footer}"></footer>
<script src="/js/language-script.js"></script>
</body>

</html>