<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход - ДебъгАрена</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
</head>

<body class="register-login-page">
<div class="login-container">
    <div class="login-form">
        <h2>Вход</h2>
        <form
                th:action="@{/users/login}"
                th:method="POST">
            <div class="form-group">
                <label for="email">Имейл</label>
                <input type="email" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="password">Парола</label>
                <input type="password" id="password" name="password">
            </div>
            <p th:if="${loginError}" class="text-danger">
                Невалидно потребителско име и/или парола!
            </p>
            <button type="submit" class="btn">Влезте</button>
        </form>
        <p>Нямате акаунт? <a th:href="@{/users/register}">Регистрирайте се от тук</a></p>
        <p>Забравена парола? <a th:href="@{/users/reset-password}">Натиснете тук</a></p>
    </div>
</div>
</body>
</html>