<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Категории</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
</head>

<body>
<header th:replace="~{fragments/navigation}"></header>

<main class="programming-languages">
    <div class="container">
        <h1>Езици за програмиране</h1>
        <div class="categories">
            <div class="category">
                <a href="/problems/java">
                    <img class="category-image" src="/images/java-icon-2048x2048-3pfathb3.png" alt="Java Icon">
                    <h2>Java</h2>
                </a>
            </div>
            <div class="category">
                <a href="/problems/csharp">
                    <img class="category-image" src="/images/c-sharp-c-icon-1822x2048-wuf3ijab.png" alt="C# Icon">
                    <h2>C#</h2>
                </a>
            </div>
            <div class="category">
                <a href="/problems/javascript">
                    <img class="category-image" src="/images/javascript-js-icon-2048x2048-nyxvtvk0.png" alt="JavaScript Icon">
                    <h2>JavaScript</h2>
                </a>
            </div>
            <div class="category">
                <a href="/problems/python">
                    <img class="category-image" src="/images/python-icon-2048x2037-wpgoz04a.png" alt="Python Icon">
                    <h2>Python</h2>
                </a>
            </div>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer}"></footer>
</body>

</html>