<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Детайли на проблема</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
<header th:replace="~{fragments/navigation}"></header>

<main class="problem-details">
    <div class="container">
        <h1 th:text="${problem.getTitle()}"></h1>
        <div class="problem-meta">
            <span class="problem-user">Потребител: <span th:text="${problem.getAuthorUsername()}"></span></span>
            <span class="problem-date">Дата на публикуване: <span th:text="${problem.getCreatedOn()}"></span></span>
        </div>
        <div class="problem-description">
            <p>Описание на проблема:</p>
            <p th:text="${problem.getDescription()}"></p>
        </div>
        <div class="comments-section">
            <h2>Коментари</h2>
            <div th:each="comment: ${comments}" class="comment">
                <p class="comment-user">Коментар от <span th:text="${comment.getAuthorUsername()}"></span></p>
                <span class="problem-date">Дата на публикуване: <span th:text="${comment.getCreatedOn()}"></span></span>
                <p th:text="${comment.getTextContent()}"></p>
                <div class="rating">
                    <span class="fa fa-star" data-rating="1"></span>
                    <span class="fa fa-star" data-rating="2"></span>
                    <span class="fa fa-star" data-rating="3"></span>
                    <span class="fa fa-star" data-rating="4"></span>
                    <span class="fa fa-star" data-rating="5"></span>
                </div>
            </div>
            <form class="comment-form" th:action="@{/comments/add-comment/{id}(id=${problem.getId()})}" th:method="POST">
                <textarea name="textContent" placeholder="Добави коментар"></textarea>
                <button type="submit">Изпрати коментара</button>
            </form>
        </div>
    </div>
</main>

<footer th:replace="~{fragments/footer}"></footer>

<script>
    document.querySelectorAll('.rating .fa').forEach(star => {
        star.addEventListener('click', function () {
            let rating = this.dataset.rating;
            let stars = this.parentNode.querySelectorAll('.fa');
            stars.forEach((s, index) => {
                if (index < rating) {
                    s.classList.add('checked');
                } else {
                    s.classList.remove('checked');
                }
            });
        });
    });
</script>
</body>

</html>