<!DOCTYPE html>
<html lang="bg"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Потребителски профил</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body>
<header th:replace="~{fragments/navigation}"></header>
<main class="profile">
    <div class="container profile-container">
        <div class="profile-header">
            <div class="profile-info">
                <h1 th:text="${userProfile.getUsername()}"></h1>
            </div>
        </div>
        <div class="profile-section">
            <form th:action="@{/users/profile/edit-profile}" th:method="PATCH">
                <h2 th:text="#{profile.user.description}"></h2>
                <p th:unless="${userProfile.getDescription() == null}" th:text="${userProfile.getDescription()}"></p>
                <textarea name="description" ></textarea>

                <h2 th:text="#{profile.user.skills}"></h2>
                <p th:unless="${userProfile.getSkills() == null}" th:text="${userProfile.getSkills()}"></p>
                <textarea name="skills" ></textarea>

                <h2 th:text="#{profile.user.interests}"></h2>
                <p th:unless="${userProfile.getInterests() == null}" th:text="${userProfile.getInterests()}"></p>
                <textarea name="interests"></textarea>

                <button class="btn-save"><i class="fas fa-save"></i> <span th:text="#{profile.save.changes.btn}"></span> </button>
            </form>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer}"></footer>
<script src="/js/language-script.js"></script>
</body>
</html>
