<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация-ДебъгАрена</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
</head>

<body class="register-login-page">
<div class="registration-container">
    <div class="registration-form">
        <h2>Регистрация</h2>
        <form
                th:action="@{/users/register}"
                th:method="POST"
                th:object="${userRegisterBindingModel}">

            <div class="form-group">
                <label th:for="inputUsername">Потребителско име</label>
                <input th:field="*{username}"
                       th:errorclass="is-invalid"
                       th:type="text"
                       th:id="inputUsername"
                       th:aria-describedby="usernameHelpInline">
                <th:block th:errors="*{username}"
                          class="invalid-feedback alert-danger">error message
                </th:block>
            </div>
            <div class="form-group">
                <label th:for="inputEmail">Имейл</label>
                <input th:field="*{email}"
                       th:errorclass="is-invalid"
                       th:type="email"
                       th:id="inputEmail"
                       th:aria-describedby="emailHelpInline">
                <th:block th:errors="*{email}"
                          class="invalid-feedback alert-danger">error message
                </th:block>
            </div>
            <div class="form-group">
                <label th:for="inputPassword">Парола</label>
                <input th:field="*{password}"
                       th:errorclass="is-invalid"
                       th:type="password"
                       th:id="inputPassword">
                <th:block th:errors="*{password}" class="invalid-feedback alert-danger">error message</th:block>
            </div>
            <div class="form-group">
                <label th:for="inputConfirmPassword">Потвърдете паролата</label>
                <input th:field="*{confirmPassword}"
                       th:errorclass="is-invalid"
                       th:type="password"
                       th:id="inputConfirmPassword">
                <th:block th:errors="*{confirmPassword}"
                       class="invalid-feedback alert-danger">error message</th:block>
            </div>
            <button type="submit" class="btn">Регистрирайте се</button>
        </form>
        <p>Вече имате акаунт? <a th:href="@{/users/login}">Влезте тук</a></p>
    </div>
</div>
</body>

</html>