<!DOCTYPE html>
<html lang="bg"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Възстановяване на паролата - ДебъгАрена</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
</head>

<body class="register-login-page">
<div class="reset-password-container">
    <div class="reset-password-form">
        <h2>Възстановяване на паролата</h2>
        <div class="form-group">
            <label for="inputNewPassword">Нова парола</label>
            <input type="password" id="inputNewPassword" name="inputNewPassword" required>
        </div>
        <div class="form-group">
            <label for="confirm-password">Потвърдете паролата</label>
            <input type="password" id="confirm-password" name="confirm-password" required>
        </div>
        <button type="submit" class="btn">Възстановяване</button>
        <p>Спомнихте ли си паролата? <a th:href="@{/users/login}">Влезте тук</a></p>
    </div>
</div>
</body>

</html>