<!DOCTYPE html>
<html lang="bg" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ДебъгАрена</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>

<body>
<header th:replace="~{fragments/navigation}"></header>
<a th:href="@{/events/add-event}" class="link-item">
    <i class="fas fa-plus-circle"></i>
    <span th:text="#{add.event.fast.link}"></span>
</a>
<div th:each="event : ${events}" class="event-container">
    <div class="event-card">
        <div class="event-header">
            <h2 th:text="${event.getTitle()}"></h2>
            <div class="event-tags">
                <span class="tag tag-online" th:text="#{event.tag.online}"></span>
                <span class="tag tag-free" th:text="#{event.tag.free}"></span>
            </div>
            <div class="event-author">
                <img th:if="${event.getAuthorImageURL() == null}" src="/images/default-profle-picture.png"
                     alt="user profile image">
                <img th:unless="${event.getAuthorImageURL() == null}" th:src="${event.getAuthorImageURL()}"
                     th:alt="${event.getAuthorName()}">
            </div>
        </div>
        <div class="event-details">
            <i class="fas fa-calendar-alt"></i>
            <span th:text="#{event.details.data}">: </span>
            <span th:text="${event.date.getDayOfMonth()}"></span>/<span th:text="${event.date.getMonthValue()}"></span>/<span th:text="${event.date.getYear()}"></span>
            <br>
            <i class="fa-regular fa-clock"></i>
            <span th:text="#{event.details.hour}"></span>
            <span th:text="${event.date.getHour()}"></span>:<span th:text="${event.date.getMinute()}"></span>
            <br>
            <span th:text="#{event.details.author}"> </span>
            <span th:text="${event.getAuthorName()}"></span>

            <div class="event-footer">
                <a th:href="@{/events/details/{id}(id=${event.id})}" class="event-link"
                   th:text="#{event.detail.link}"></a>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{fragments/footer}"></footer>
<script src="/js/language-script.js"></script>
</body>

</html>